.user
    %h1 ユーザーの一覧
    %ul.jscroll
        - @users.each do |user|
            %li
                = link_to user.name, user
                - if logged_in?
                    - if current_user.admin?
                        - unless user.admin?
                            |
                            = link_to '削除する', user, method: :delete, data: { confirm: '本当に削除しますか？' }

        = paginate @users
