- flash.each do |msg_type, msg|
    - if msg_type == 'danger'
        .danger-message
            %p
                = icon('fas', 'exclamation-circle')
                = msg
    - elsif msg_type == 'success'
        .success-message
            %p
                = icon('fas', 'thumbs-up')
                = msg