.main-content.top-page
    %h1 Youtubeライフをより最高にしよう
    .description
        %p MOVIE_BBSでは、
        %p
            = icon('fas', 'check-circle')
            あなたのお気に入りのYoutube動画を投稿してみんなでシェアできます
        %p
            = icon('fas', 'check-circle')
            色々な人がオススメするYoutube動画を見ることができます
    .start
        %div
            %p ユーザー登録がお済みでない方↓
            = link_to 'MOVIE_BBSをはじめる', new_user_path, class: 'btn-gradient', data: { 'turbolinks' => false }
        %div
            %p ユーザー登録がお済みの方↓
            = link_to 'ログインする', login_path, class: 'btn-gradient', data: { 'turbolinks' => false }
