= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload'
.top-page
    .container
        .row
            .col-md-6.text-center.text-md-left
                %h1 テキスト
                %p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                %a.btn-gradient-simple.mr-3{ href: "#" } BUTTON1
                %a.btn-gradient-simple{ href: "#" } BUTTON2
