= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload'
.top-page
    .container
        .row
            .col-md-6.text-center.text-md-left
                %h1 テキスト
                %p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                .button
                    %div
                        %a.btn-gradient-simple{ href: "#" } BUTTON1
                    %div
                        %a.btn-gradient-simple{ href: "#" } BUTTON2
