@import "reset";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "footer";
@import "home";

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 66px;
}

.main-content {
  min-height: 100vh;
  background: -moz-linear-gradient(65deg, #f13f79, #ffc778);
  background: -webkit-linear-gradient(65deg, #f13f79, #ffc778);
  background: linear-gradient(25deg, #f13f79, #ffc778);
  padding: 120px 0;
}

// pagination

.page-link {
  border: initial;
  &:hover {
    z-index: initial;
    text-decoration: underline;
    background-color: initial;
    border-color: initial;
  }
  &:focus {
    z-index: initial;
    outline: initial;
    box-shadow: initial;
  }
}

.page-item.active .page-link {
  z-index: initial;
  color: initial;
  background-color: initial;
  border-color: initial;
}
