@import "reset";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
  height: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 66px;
}

.main-content {
  min-height: 100vh;
  background: -moz-linear-gradient(65deg, #f13f79, #ffc778);
  background: -webkit-linear-gradient(65deg, #f13f79, #ffc778);
  background: linear-gradient(25deg, #f13f79, #ffc778);
  padding: 120px 0;
}

.btn-gradient {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  transition: 0.4s;
  &:hover {
    color: #fff;
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  }
}

// pagination

.pagination {
  display: none;
}

@import "header";
@import "footer";
@import "home";
@import "users/form";
@import "users/login";
