@import "bootstrap";

html,
body {
  height: 100%;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 52px;
  box-sizing: border-box;
}

.user h1 {
  padding-top: 100px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  text-align: center;
  p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
  }
}

.page-link {
  border: initial;
}

/* 表示しているページ番号のデザイン */
.page-item.active .page-link {
  z-index: initial;
  color: initial;
  background-color: initial;
  border-color: initial;
}

/*ホバー時のデザイン*/
.page-link:hover {
  z-index: initial;
  text-decoration: underline;
  background-color: initial;
  border-color: initial;
}

.page-link:focus {
  z-index: initial;
  outline: initial;
  box-shadow: initial;
}
