html,
body {
  height: 100%;
}

header .navbar {
  padding: 10px 25px;
}

.top-page {
  height: 100%;
  padding: 150px 0 56px;
  color: rgba(255, 255, 255, 0.8);
  background-image: image-url("movie.jpg");
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  h1,
  p {
    margin-bottom: 80px;
  }
  .btn-gradient-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(45deg, #c7020e 0%, #cb4829 100%);
    transition: 0.4s;
    &:hover {
      background-image: linear-gradient(45deg, #c7020e 50%, #cb4829 100%);
      text-decoration: none;
      color: #fff;
    }
  }
}

@media all and (max-width: 768px) {
  .button {
    display: flex;
    flex-direction: column;
    div:first-of-type .btn-gradient-simple {
      margin-bottom: 30px;
    }
  }
}

@media all and (min-width: 768px) {
  .button {
    display: flex;
    div:first-of-type .btn-gradient-simple {
      margin-right: 15px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 25px;
  text-align: center;
  p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
  }
}
