.user-form {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  h1 {
    font-size: 52px;
    margin-bottom: 130px;
    font-weight: bold;
  }
}

form .btn-gradient {
  font-size: 20px;
  border: none;
  outline: none;
}

.form-parts {
  position: relative;
  width: 55%;
  margin: 0 auto;
  text-align: left;
  input {
    width: 100%;
    margin: 8px 0 50px;
    padding: 0.7em;
    padding-left: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  input[type="file"] {
    padding-left: 0;
  }
  i {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 10px;
    transition: color 0.3s;
    color: #aaa;
  }
}

.user-form #error-messages,
.user-form .danger-message {
  width: 55%;
  margin: 0 auto;
  text-align: left;
  i {
    color: yellow;
  }
}

.user-signup-edit #error-messages {
  line-height: 2;
  ul {
    margin-bottom: 30px;
  }
}
