%header
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        %a.navbar-brand{ href: "#" } テキスト
        %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNavAltMarkup" }, aria: { controls: "navbarNavAltMarkup", expanded: "false", label: "Toggle navigation" } }
            %span.navbar-toggler-icon
        .collapse.navbar-collapse.justify-content-end#navbarNavAltMarkup
            .navbar-nav
                %a.nav-item.nav-link.active{ href: "#" } リンク1
                %a.nav-item.nav-link{ href: "#" } リンク2
                %a.nav-item.nav-link{ href: "#" } リンク3